@charset "UTF-8";
.main{
min-width: 1000px;
}
.py-5{
    width: 100%;
    height: 500px;
    text-align: center;
}

.mainSection{
	background: #fff;
    width: 100%;
    height: 450px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    text-align:  right;
}
.leftDiv{
	width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left:100px;
}
.card-img-top{
	 border-radius: 10px;
}
.rightDiv{
	width:50%;
	margin-right: 100px; 
}
.carousel{
	overflow: hidden;
	width:100%;
    height:100%;
    object-fit:cover;
	border-radius: 10px;
}

#imageInner{
	width:100%;
    height:100%;
    object-fit:cover;
    align-items: center;
    display: flex;
}
#contents{
	background: #fff;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.rightTable{
	float: right;
}