@charset "UTF-8";


.main {
	margin: 3em;
	min-width: 650px;
}

h3 {
	text-align: center;
	color: #4154f1;
}

/* .rankingClass {
	text-align: right;
} */
#searchText, #nothingId {
	display: none;
}

#nothingId {
	color: #ff0000;
}

.donation-main-section {
	position: relative;
	width: 100%;
	height: 21rem;
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
}

section {
	display: block;
}

.donation-main-div {
	color: #fff;
	margin: 0 auto;
	max-width: 48rem;
	padding: 1.5rem 1rem 0;
	overflow: hidden;
}

.donation-main-image, .donation-ranking-searchline {
	text-align: center;
}

.donation-main-image img {
	text-align: center;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	z-index: 20;
}

div {
	display: block;
}


.donation-ranking-number, .donation-ranking-totalamount,.donation-ranking-user {
	text-align: right;
	margin-right: 100px;
}

.row {
	height: 400px;
}

.donation-main-title, .donation-ranking-title {
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.5rem;
	color: #000000;
	text-align: center;
	z-index: 40;
}

.donation-main-subtitle, .donation-ranking-subtitle {
	text-align: center;
	line-height: 1.4;
	font-size: 1rem;
	color: #000000;
	padding: 1.5rem 1rem 0;
	z-index: 30;
}

.donation-ranking-table {
	max-height: 200px;
	overflow-y: scroll;
	margin-right: 30px;
}

.donation-ranking-table td{
	padding: 20px;
}
.card {
	height: 350px;
}