@charset "UTF-8";

.main {
	margin: 3em;
	min-width: 550px;
}

.home-main-section-top {
	background: #fff;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
}

.home-main-top {
	padding-top: 24px;
	position: relative;
	width: 100%;
	height: 21rem;
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
	
}

.home-main-title {
	padding-top: 5rem;
	line-height: 1.3; /*줄높이*/
	font-size: 2.5rem;
	margin-bottom: 3.2rem;
	margin-left:15px;
}

.text-m {
	font-size: 1rem !important;
	margin-left:25px;
}

@media (min-width: 770px) {
  .home-main-image-top {
    position: absolute;
	margin-bottom: 1rem;
	right: 30px;
	bottom: 0;
	width: 15rem;
	height: 15rem;
	background-repeat: no-repeat;
  }
 }
 
 @media (max-width: 770px){
 	.home-main-image-top{
 		display: none;
 	}
 }
.carousel {
	border-radius: 8px;
	height: 250px;
	width: 100%;
	background: #c0c0c0;
	
}

.banner1-title {
	margin-top: 5rem;
	font-size: 1.5rem;
	color: #000000;
	text-align: center;
}

.banner1-subtitle {
	margin-top: 1rem;
	font-size: 1rem;
	color: #000000;
	text-align: center;
}

.banner2-title {
	margin-top: 5rem;
	font-size: 1.5rem;
	color: #000000;
	text-align: center;
}

.banner2-subtitle {
	margin-top: 1rem;
	font-size: 1rem;
	color: #000000;
	text-align: center;
}

.banner3-title {
	margin-top: 5rem;
	font-size: 1.5rem;
	color: #000000;
	text-align: center;
}

.banner3-subtitle {
	margin-top: 1rem;
	font-size: 1rem;
	color: #000000;
	text-align: center;
}

.product {
	font-size: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
/* 	
	margin-left: 1rem;
	 */
	 margin-top: 1rem;
	
	
}
.product-2{
	margin-top: 1rem;
}

.product-main {
	margin-bottom: 3px;
	font-weight: inherit;
	font-size: inherit;
}

.product-sub {
	margin-top: 3px;
}

.product-more {
	display: inline;
	padding: 0px;
	font-size: 12px;
	color: #808080;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	margin-right: 1rem;

}

.card-wrap{
	overflow:hidden;
    width: 100%;
    background: #fff;
    border-radius: 8px;
	
}

.card-top{
	float:left;
	overflow:hidden;
	text-align:center;
    display:table;
    border:1px solid #fff;
    width:280px;
    height:300px;
	margin:10px;
	background: #fff;
    border-radius: 8px;

}
.card-photo{
	display:table-cell;
    vertical-align:middle;
    margin-bottom: 1rem;
    width:210px;
    height:210px;
}
.card-photo img {
	max-width:200px;
    max-height:200px;
    margin-top: 1rem;

}
.footer{
	clear:both;
}
#map2 {
	width: 70%;
	height: 400px;
	margin: 15px auto;
	border-radius: 10px;
}