@charset "UTF-8";

.outer {
	width: 70%;
	min-width: 650px;
	background: rgb(248, 249, 250);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
}

#joinForm {
	width:500px;
	margin:auto;
	padding-top: 10px;
	 
	text-align: right;
	
}
.errorCheck span{
	text-align: right;
	color:#ff0000;
}
#joinForm h1{
	text-align: center;
}
.input_area input:not([type=checkbox]){
	height: 3rem;
	width:70%;
	overflow:hidden;
	border: solid 1px #808080;
	border-radius: 7px;

}
.addDiv1 input:not([type=checkbox]){
	height: 3rem;
	width:56%;
	overflow:hidden;
	border: solid 1px #808080;
	border-radius: 7px;
	margin-right: 10px;
	
}

.errorCheck span {
	display: none;
}
#joinInfoArea{

	height: 950px;
}   
.item{
 	align-items: center;
	height: 90px;
	text-align: right;
}
.item h6, .addDiv1 h6, .addDiv2 h6{
	text-align: right;
	width:25%;
	float:left;
	margin-top: 15px;
}
.addDiv1, .addDiv2{
	height: 60px;
	text-align: right;
}
.btnArea {
	text-align: center;
	margin-top: 30px;
}
