@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'nanumgothic';
	font-size: 13px;
	color: #222;
	margin: 0;
	padding: 0;
}

input.signIn {
	width:100%;
	padding :10px;
	box-sizing: border-box;
	border-radius: 5px;
	border : none;
	margin-bottom:10px;
}

input#btn {
	width:100%;
	padding :10px;
	box-sizing: border-box;
	border-radius: 5px;
	border : none;
	margin-bottom:10px;
}

.signIn {
	margin-bottom: 10px;
}

.saveid{
	text-align: left;
}

.container {
	background-color: #f5f5f5;
	height: 100vh;
}
.login {
	width: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.login-type{
	text-align: center;
}
.login-type h1{
	font-size: 44px;
	text-align: center;
	font-weight: normal;
}
a.btn {
	display: block;
	text-decoration: none;
	color: #fff;
	border: 1px solid lightgray;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
	padding: 15px;
	opacity: 0.8;
	margin-bottom: 10px;
}
a.btn:hover {
	opacity: 1;
}
a.btn1 {
	background-color: #fff;
	color: #222;
}
a.btn2{
	background-color: #11ce00;
}
a.btn3{
	background-color: #ffff00;
	color: black;
}
a.btn4{
	background-color: #898c9b;
}

.footer{
	padding: 5px;
	margin-top: 10px;
}

.footer p:nth-child(1) a {
	text-align: left;
	color: #222;
	text-decoration: none;
}
.footer p:nth-child(1) a:hover {
	text-decoration: underline;
}

.footer p:nth-child(2) a {
	text-align: left;
	color: #222;
	text-decoration: none;
}
.footer p:nth-child(2) a:hover {
	text-decoration: underline;
}
.footer p:nth-child(3) {
	text-align: center;
}
.footer p:nth-child(3) a {
	font-weight: bold;
	color: #222;
	text-decoration: none;
}

.footer p:nth-child(3) a:hover{
	text-decoration: underline;
}

span.or-txt {
	display: block;
	margin: 15px 0;
	position: relative;
}

span.or-txt:before {
	content: '';
	position: absolute;
	top:7px;
	left:0;
	background-color: #dedede;
	width: 44%;
	height: 1px;
}
span.or-txt:after {
	content: '';
	position: absolute;
	top:7px;
	right:0;
	background-color: #dedede;
	width: 44%;
	height: 1px;
}






































