@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'nanumgothic';
	font-size: 15px;
	color: #222;
	margin: 0;
	padding: 0;
}

/* 로그인 실패시 경고글 */
.login_warn{
    margin-top: 20px;
    text-align: center;
    color:#ff0000;
}

input.signIn, 
input#btn {
	width:80%;
	height:50px;
	padding :10px;
	box-sizing: border-box;
	border-radius: 5px;
	border : none;
	margin-bottom:10px;
}

.signIn {
	margin-bottom: 10px;
}

.container {
	background-color: #f5f5f5;
	height: 100vh;
}
.login {
	width: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.login-type{
	text-align: center;
}
.login-type h1{
	font-size: 44px;
	text-align: center;
	font-weight: normal;
}
a.btn {
	display: block;
	text-align: center;
	opacity: 0.8;
	margin-bottom: 10px;
}
a.btn:hover {
	opacity: 1;
}
a.btn1 {
	background-color: #fff;
	color: #222;
}
.footer{
	padding: 5px;
	margin-top: 10px;
}

.footer p:nth-child(1) a, .footer p:nth-child(2) a{
	text-align: left;
	color: #222;
	text-decoration: none;
}
.footer p:nth-child(1) a:hover, .footer p:nth-child(2) a:hover
,.footer p:nth-child(3) a:hover {
	text-decoration: underline;
}


.footer p:nth-child(3) {
	text-align: center;
}
.footer p:nth-child(3) a {
	font-weight: bold;
	color: #222;
	text-decoration: none;
}


span.or-txt {
	display: block;
	margin: 15px 0;
	position: relative;
}

span.or-txt:before {
	content: '';
	position: absolute;
	top:7px;
	left:0;
	background-color: #dedede;
	width: 44%;
	height: 1px;
}
span.or-txt:after {
	content: '';
	position: absolute;
	top:7px;
	right:0;
	background-color: #dedede;
	width: 44%;
	height: 1px;
}
.kakao {
	width:190px;
}
.naver {
	width:190px;
}
.google {
	width:190px;
}