@charset "UTF-8";

.main{
	min-width: 550px;	
}

.notice-main-section-top {
	background: #fff;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
}

.notice-main-top {
	padding-top: 24px;
	position: relative;
	width: 100%;
	height: 21rem;
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
}

.notice-main-title {
	padding-top: 5rem;
	line-height: 1.3; /*줄높이*/
	font-size: 2.5rem;
	margin-bottom: 3.2rem;
	margin-left:15px;
}

.text-m {
	font-size: 1rem !important;
	margin-left:25px;
}

@media (min-width: 660px) {
  .notice-main-image-top {
    position: absolute;
	margin-bottom: 1rem;
	right: 30px;
	bottom: 0;
	width: 15rem;
	height: 15rem;
	background-repeat: no-repeat;
  }
 }
 @media (max-width: 660px){
 	.notice-main-image-top{
 		display: none;
 	}
 }
.table{
	min-height : 500px;
}
.table-tr1, .table-tr2{
	
	background: #fff;
	border-radius: 8px;
	font-size:medium; 
}
.table-tr2-img{
	max-width: 300px;
}