<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.admin.mapper.AdminMapper">
	<select id="dOrgList" resultType="DonationOrg">
		select * from donationOrg order by donOrgNum 
	</select>
	
	<select id="mainOrg" resultType="DonationOrg">
		select * from donationOrg where status=1
	</select>
	
	<insert id="addOrg" parameterType="DonationOrg" >
		<selectKey keyProperty="donOrgNum" resultType="int" order="BEFORE">
			select donationOrg_seq.nextval from dual
		</selectKey>
		insert into donationOrg values(#{donOrgNum},#{donName},#{donOrgInfo},#{donBankAccount},#{donBankName},0)
	</insert>
	
	<delete id="dondelete" parameterType="int" >
		delete from donationOrg where donOrgNum=#{donOrgNum}
	</delete>
	
	<update id="changeDon" parameterType="int" >
	{call
		declare
		begin
			update donationOrg set status=0 where exists(select*from donationOrg where status=1);
			update donationOrg set status=1 where donOrgNum=#{donOrgNum};
		end
	}
	</update>
	
	<select id="exchangeList" resultType="Exchange">

		select * from exchange where exchangeStatus=0 order by exchangeTime asc
	</select>
	
	<update id="changeStatus" parameterType="int">
		update exchange set exchangeStatus=1 where exchangeNum=#{value}
	</update>
	
	<update id="cancelchangeStatus" parameterType="int">
		update exchange set exchangeStatus=2 where exchangeNum=#{value}
	</update>
	
	<delete id="exchangeDelete" parameterType="int">
		delete from exchange where exchangenum=#{value}	
	</delete>

	
	<select id="payList" resultType="Payment">
		select * from payment order by payTime
	</select>
	
	<delete id="cancelPay" parameterType="String">
		delete from payment where merchant_uid=#{merchant_uid}
	</delete>
	
	<select id="userList" resultType="User">
		select * from project_user where userStatus!=1
	</select>
	
	<update id="normalUser" parameterType="int">
		update project_user set userStatus=0 where userNum=#{value}
	</update>
	
	<update id="stopUser" parameterType="int">
		update project_user set userStatus=3 where userNum=#{value}
	</update>
	
	<select id="findUser" parameterType="String" resultType="User">
		select * from project_user where userId like '%'||#{value}||'%' and userstatus != 1 
	</select>
	
	<select id="findPayment" parameterType="String" resultType="Payment">
			select * from payment where merchant_uid=#{value}
	</select>
	
	<update id="resetPoint" parameterType="Payment">
		update project_user set userpoint=userpoint-#{paid_amount} where userId=#{buyer_id}
	</update>
	
	<select id="findExchange"  parameterType="int" resultType="Exchange">
		select * from exchange where exchangeNum=#{value}
	</select>
	
	<update id="rechargePoint" parameterType="Exchange" >
		update project_user set userPoint=userPoint+#{exchangePoint} where userid=#{userId}
	</update>
	
	<delete id="prodDelete" parameterType="int">
		delete from product where prodNum=#{value}
	</delete>
	
	<select id="adminFindProd" parameterType="String" resultType="Product">
		select * from product where prodName like '%'||#{value}||'%' and status=1
	</select>
	
	<update id="socialUser" parameterType="int">
		update project_user set userStatus=4 where usernum=#{value}
	</update>
	
	<select id="donList" resultType="Donate">
		select sum(donamount) donAmount,donOrgName from donation group by donOrgName
	</select>
	
	<select id="findOrg" parameterType="Donate" resultType="Donate">
		select donName donOrgName,totalAmount donAmount from EndDonation where donName=#{donOrgName}
	</select>
	
	<insert id="donateEnd" parameterType="Donate" >
		insert into EndDonation values(#{donOrgName},#{donAmount})
	</insert>
	
	<update id="donateUpdate" parameterType="Donate" >
		update EndDonation set totalAmount=#{donAmount} where donName=#{donOrgName}
	</update>
	
	<select id="endDonateList" resultType="Donate">
		select donName donOrgName,totalAmount donAmount from EndDonation 
	</select>
	
	<select id="categoryList" resultType="ProdCategory">
		select NVL(count,0) count,categorynum from
	(select count,categorynum from
	(select count(prodCategoryNum_fk) count,prodCategoryNum_fk from
	(select a.*,d.* from auction_end a 
	full outer join product d on a.prodNum_fk=d.prodNum 
	where auctionEndNum is not null) group by prodCategoryNum_fk order by prodCategoryNum_fk) t
	full outer join prodCategory p on t.prodCateGoryNum_fk= p.categorynum)
	</select>
	
	<select id="repoList" resultType="Report">
		select * from report where reportStatus=0
	</select>
	
	<update id="reportComplete" parameterType="int">
		update report set reportStatus=1 where reportNum=#{value}
	</update>
	
	<select id="findAuctionEnd" parameterType="int" resultType="AuctionEnd">
		select * from auction_end where auctionendNum=#{value}
	</select>
	
	<update id="addPointBuyer" parameterType="AuctionEnd">
		update project_user set userPoint=userPoint+#{endPrice} where userid=#{buyId}
	</update>
	
	<update id="auctionStatusUpdate" parameterType="int">
		update auction_end set aucstatus=5 where auctionEndNum=#{value}
	</update>
	
	
</mapper>