<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.auction.mapper.AuctionMapper">
	
	<select id="selectAuctionByProdNum" resultType="Auction" parameterType="_int">
		select * from auction 
		where prodNum_fk=#{value} and aucPrice=(select MAX(aucPrice) from auction)
	</select>
	
	<insert id="insertAuction" parameterType="Auction">
		insert into auction values(auc_seq.nextval,#{prodNum_fk},#{userNum_fk},#{aucPrice},sysdate)
	</insert>
	
</mapper>