<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.chat.mapper.ChatMapper">
	<insert id="createRoom" parameterType="ChatRoom">
		<selectKey keyProperty="roomid"  resultType="int" order="BEFORE">
			select croomlist_seq.nextval from dual
		</selectKey>
		insert into croomlist(roomid,userId1,userId2)
		select #{roomid} , #{userId1},#{userId2} from dual
		where not exists(select*from croomlist where userId1=#{userId1} and userId2=#{userId2}
		or userId1=#{userId2} and userId2=#{userId1})
		 
	</insert>
	
	<select id="myChatRoomList" parameterType="ChatRoom" resultType="ChatRoom">
		select * from croomList where userId1=#{userId1} or userId2=#{userId1}  
	</select>
	
	<delete id="exitChat" parameterType="ChatRoom">
	{call
		declare
		begin
			delete from chatAlert where roomid=#{roomid};
			delete from chat where roomid_fk=#{roomid};
			delete from croomList where roomid=#{roomid};
		end
	}
	</delete> 
	
	<select id="selectRoom" parameterType="int" resultType="ChatRoom">
		select*from croomlist where roomid=#{roomid}
	</select>
	
	<insert id="insertMessage" parameterType="Chat" >
		insert into chat values(#{roomid},#{sUser},#{rUser},#{sendMsg},null,sysdate)
	</insert>
	
	<select id="findChatList" parameterType="int" resultType="Chat">
		select*from chat where roomid_fk=#{roomid} order by chatTime
	</select>
	
	<insert id="addNoReadCount" parameterType="ChatAlert">
		insert into chatAlert values(#{userId},#{roomid},1)
	</insert>
	
	<select id="myNoRead" parameterType="String" resultType="int">
		select count(noreadcount) from chatAlert where userid=#{userId}
	</select>
	
	<delete id="deleteNoRead" parameterType="ChatAlert">
		delete from chatAlert where roomid=#{roomid} and userid=#{userId}
	</delete>
	
	<insert id="sendImg" parameterType="Chat">
		insert into chat values(#{roomid},#{sUser},#{rUser},#{sendMsg:VARCHAR},#{cImg},sysdate)
	</insert>
	
	<select id="findImg" parameterType="Chat" resultType="String">
		select cImg from chat where sUser=#{sUser} and rUser=#{rUser} and sendMsg=#{sendMsg}
	</select>
	
	<select id="myNoread" parameterType="String" resultType="ChatAlert">
		select roomid from chatAlert where userid=#{value} group by roomid
	</select>
	
	<select id="exitRoomImg" parameterType="int" resultType="String">
		select cimg from chat where roomid_fk=#{roomid}
	</select>
	
	<select id="findUserIdByNum" parameterType="int" resultType="String">
		select userId from project_user where usernum=#{value}
	</select>
</mapper>