<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.donation.mapper.DonationMapper">

	<select id="donAmount" resultType="Donation"
		parameterType="Donation">
		<!-- select sum(donAmount) from donation where userNum_fk=#{value}; -->
		<!-- select sum(donAmount) from donation where userNum_fk=#{userId} -->
		select * from donation
	</select>

	<select id="totalDonation" resultType="Integer">
		select sum(donAmount) totalDonate from donation
	</select>
	
	<select id="totalDonateCount" resultType="Integer">
		select count(donNum) from donation
	</select>

	<select id="donNameSearch" resultType="Donation"
		parameterType="String">
		<!-- select sum(donAmount) from donation where userNum_fk=#{userId} -->
		select * from donation
	</select>

	<select id="userListDonate" resultType="java.util.LinkedHashMap">
		select sum(donAmount) totalDonate, userNum_fk userNum from donation group by userNum_fk order by totalDonate desc
	</select> 

	<select id="donationLevelId" resultType="String">
		select sum(donAmount) totalDonate from donation where userNum_fk=#{userId}
	</select>
	
	<select id="donationOrgInfo" resultType="String">
		select donOrgInfo from donationOrg where donOrgNum=2002
	</select>

	
</mapper>