<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.profile.mapper.ProfileMapper">
	
	<insert id="insertPayment" parameterType="Payment">
		insert into payment 
		values(#{merchant_uid},#{imp_uid},#{buyer_email},#{buyer_id},#{paid_amount},sysdate)
	</insert>
	
	<update id="plusPoint" parameterType="Payment">
		update project_user set userPoint = userPoint + #{paid_amount}
		<where>
			<!-- userEmail=#{buyer_email} -->
			userId=#{buyer_id}
		</where>
	</update>
	
	<insert id="addExchange" parameterType="Exchange" >
		<selectKey keyProperty="exchangeNum" resultType="int" order="BEFORE">
			select exchange_seq.nextval from dual
		</selectKey>
		insert into exchange values(#{exchangeNum},#{bankName},#{bankAccountNum},#{userName},#{userEmail},#{userId},#{exchangePoint},sysdate)
	</insert>
	
	<update id="minusPointByExchange" parameterType="Exchange">
		update project_user set userPoint = userPoint - #{exchangePoint}
		<where>
			userId=#{userId}
		</where>
	</update>
	
	<select id="findPaymentByUserId" resultType="Payment" parameterType="string">
		select * from payment where buyer_id = #{value}
	</select>
	
	<select id="findExchangeByUserId" resultType="Exchange" parameterType="string">
		select * from exchange where userId = #{value}
	</select>
	
	<select id="findDonationByUserId" resultType="three.donation.model.DonateVO" parameterType="string">
		select * from donation where userId_fk = #{value}
	</select>
	
	<select id="getDonOrgNum" resultType="int">
		select donOrgNum from donationOrg where status = 1
	</select>
	
	<select id="getDonOrgName" resultType="string" parameterType="int">
		select donName from donationOrg where donOrgNum = #{value}
	</select>
	
	<insert id="addDonation" parameterType="three.donation.model.DonateVO">
		insert into donation values(donation_seq.nextval,#{userId_fk},#{donOrgNum_fk},#{donOrgName},#{donAmount},#{donationType},sysdate)
	</insert>
	
	<update id="minusPointByDonation" parameterType="three.donation.model.DonateVO">
		update project_user set userPoint = userPoint - #{donAmount}
		<where>
			userId=#{userId_fk}
		</where>
	</update>
	
	<update id="updateUserImage" parameterType="User">
		update project_user set userImage = #{userImage} where userNum=#{userNum}	
	</update>
	
	<select id="getPassword" parameterType="int" resultType="string">
		select userPassword from project_user where userNum=#{value}
	</select>
	
	<update id="updateProfile" parameterType="User">
		update project_user set userNick=#{userNick}, userInfo=#{userInfo}, userAddr1=#{userAddr1}, userAddr2=#{userAddr2},
		userAddr3=#{userAddr3:VARCHAR}, userTel=#{userTel}, userEmail=#{userEmail} where userNum=#{userNum}
	</update>
	
	<update id="updatePassword" parameterType="User">
		update project_user set userPassword = #{userPassword} where userNum=#{userNum}
	</update>
	
	<update id="deleteUser" parameterType="User">
		update project_user set userStatus = 9 where userNum=#{userNum}
	</update>
	
	<select id="myAuction" resultType="AuctionEnd" parameterType="String">
		select * from auction_End where buyid=#{value} or sellid=#{value} order by endDate desc
	</select>
	
	<select id="findAuctionEnd" parameterType="int" resultType="AuctionEnd">
		select * from auction_end where auctionEndNum=#{value}
	</select>
	
	<update id="aucEndupdateStatus" parameterType="int" >
		update auction_end set aucstatus=1 where auctionEndNum=#{value}
	</update>
	
	<select id="findUserByUserId" parameterType="string" resultType="User">
		select * from project_user where userId=#{userId}
	</select>
	
</mapper>