<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="three.user.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="User">
		<selectKey keyProperty="userNum" resultType="int"
			order="BEFORE">
			select user_seq.nextval from dual
		</selectKey>
		insert into project_user values(#{userNum},#{userId}, #{userPassword},
		#{userName}, #{userTel}, #{userEmail}, #{userAddr1}, #{userAddr2},
		#{userAddr3},
		#{userNick:VARCHAR}, 0, #{userImage:VARCHAR}, #{userInfo:VARCHAR},
		#{userBronzeBadge:NUMERIC}, #{userSilverBadge:NUMERIC},
		#{userGoldBadge:NUMERIC},
		#{userTwitter:VARCHAR},
		#{userFacebook:VARCHAR}, #{userInstagram:VARCHAR},
		#{userLinkedin:VARCHAR},
		#{userStatus}
		)
	</insert>

	<!-- 로그인 -->
	<select id="loginUser" resultType="three.user.model.UserVO">

		select userNum, userId,
		userPassword, userName, userTel, userEmail,
		userAddr1, userAddr2,
		userAddr3, userNick, userPoint, userImage, userInfo,
		userBronzeBadge, userSilverBadge, userGoldBadge, userTwitter,
		userFacebook, userInstagram, userLinkedin, userStatus
		from project_user where
		userId
		= #{userId} and userPassword = #{userPassword} and userStatus != 3
		
	</select>

	
	<select id="findId" parameterType="User" resultType="String">
		select userid from project_user where userName=#{userName} and userEmail=#{userEmail}
	</select>
	
	<select id="findPwd" parameterType="User" resultType="String">
		select userPassword from project_user where userId=#{userId} and userEmail=#{userEmail}
	</select>
	
	<select id="findSocialUser" parameterType="User" resultType="User">
		select * from project_user where userid=#{userId} 
	</select>
	
	<insert id="joinSocial" parameterType="User">
		<selectKey keyProperty="userNum" resultType="int" order="BEFORE">
			select user_seq.nextval from dual		
		</selectKey>
		insert into project_user(usernum,userid,userpassword,username,useremail,userstatus)
		values(#{userNum},#{userId},#{userPassword},#{userName},#{userEmail},4)
	</insert>



	<!-- 아이디 중복 체크 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(userId) FROM project_user where userId=#{userId}
	</select>

	<!-- 유저 찾기 -->
	<select id="findUserByuserNum" resultType="three.user.model.UserVO" parameterType="int">
		select userNum, userId,
		userPassword, userName, userTel, userEmail,
		userAddr1, userAddr2,
		userAddr3, userNick, userPoint, userImage, userInfo,
		userBronzeBadge, userSilverBadge, userGoldBadge, userTwitter,
		userFacebook, userInstagram, userLinkedin, userStatus from project_user where userNum=#{value}	
	</select>

</mapper>